.column-outer-container {
    margin-top: 0;
    padding: 0;
}
.column-container {
    max-height: 80vh;
}
.column-header {
    max-height: 3vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    padding: 20px;
    height: 70%;
}
.column-header h3 {
    font-size: 48px;
    color: #5e6042;
}
.staus-columns {
    background-color: rgba(0, 0, 0, 0.2);
    width: 300px;
    margin-left: 10px;
    margin-top: 10px;
    padding: 10px;
    height: 75vh;
    border-radius: 5px;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}