.primary {
    width: 200px;
    height: 40px;
    background-color: #5e6042;
    font-size: 20px;
    color: white;
    margin: 20px;
    border-radius: 5px;
}

.btn-small {
    width: 120px;
    height: 30px;
    background-color: #5e6042;
    border-radius: 5px;
    font-size: 16px;
    color: white;
}