.task-detail-container {
    display: flex;
    height: 100%;
    align-items: center;
}
.header-task-detail {
    padding: 20px;
    height: 70%;
    border-right: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.task-detail-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    overflow-y: auto;
}
.task-detail-text {
    text-align: left;
    min-height: 200px;
    min-width: 400px;
}
.task-ownership {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-evenly;
}
.task-ownership article {
    margin-right: 8px;
}