.project-create-container {
    background-color: rgba(0,0,0,0.2);
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
    max-width: 800px;
    
}
.project-create-container form {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
}
.project-create-container input {
    height: 30px;
    background-color: rgba(255,255,255,0.3);
}
.project-create-container label {
    font-size: 20px;
}