.navbar {
    height: 60px;
    background-color: #5e6042;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-button-list {
    margin: 20px;
    display: flex;
    align-items: center;
}
.navbar-home {
    margin: 20px;
}
.navbar-link {
    margin: 20px;
    text-decoration: none;
    color: white;
}